<?xml version="1.0"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ url('home') }}</loc>
        <lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>{{ url('view_news') }}</loc>
        <lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>{{ url('view_sources') }}</loc>
        <lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>{{ url('view_services') }}</loc>
        <lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.9</priority>
    </url>
    {% if pages is defined and pages is not empty %}
        {% for page in pages %}
            <url>
                <loc>{{ url('page_public_view', {'page': page.id, 'slug': page.slug}) }}</loc>
                <lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
                <changefreq>monthly</changefreq>
                <priority>0.9</priority>
            </url>
        {% endfor %}
    {% endif %}
</urlset>
