@font-face {
    font-family: 'fontello';
    src: url('../static/fonts/fontello.eot?20645930');
    src: url('../static/fonts/fontello.eot?20645930#iefix') format('embedded-opentype'),
    url('../static/fonts/fontello.woff2?20645930') format('woff2'),
    url('../static/fonts/fontello.woff?20645930') format('woff'),
    url('../static/fonts/fontello.ttf?20645930') format('truetype'),
    url('../static/fonts/fontello.svg?20645930#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'fontello';
        src: url('../static/fonts/fontello.svg?20645930#fontello') format('svg');
    }
}

[class^='icon-']:before, [class*=' icon-']:before {
    font-family: 'fontello', sans-serif;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: '\e800';
}

.icon-basket:before {
    content: '\e801';
}

.icon-search:before {
    content: '\e802';
}

.icon-mail:before {
    content: '\e803';
}

.icon-group:before {
    content: '\e804';
}

.icon-cancel:before {
    content: '\e805';
}

.icon-print:before {
    content: '\e806';
}

.icon-clock:before {
    content: '\e807';
}

.icon-flight:before {
    content: '\e808';
}

.icon-belowground-rail:before {
    content: '\e809';
}

.icon-home-outline:before {
    content: '\e80a';
}

.icon-bus:before {
    content: '\e80b';
}

.icon-cafe:before {
    content: '\e80c';
}

.icon-download-outline:before {
    content: '\e80d';
}

.icon-mobile:before {
    content: '\e80e';
}

.icon-desktop:before {
    content: '\e80f';
}

.icon-tablet:before {
    content: '\e810';
}

.icon-users:before {
    content: '\e811';
}

.icon-eye:before {
    content: '\e812';
}

.icon-ok:before {
    content: '\e813';
}

.icon-attention:before {
    content: '\e814';
}

.icon-users-1:before {
    content: '\e815';
}

.icon-link-1:before {
    content: '\e816';
}

.icon-thumbs-up:before {
    content: '\e817';
}

.icon-news:before {
    content: '\e818';
}

.icon-fuel:before {
    content: '\e819';
}

.icon-help:before {
    content: '\e81a';
}

.icon-ok-circled:before {
    content: '\e81b';
}

.icon-cancel-circled:before {
    content: '\e81c';
}

.icon-help-circled:before {
    content: '\e81d';
}

.icon-info-circled:before {
    content: '\e81e';
}

.icon-home:before {
    content: '\e81f';
}

.icon-link:before {
    content: '\e820';
}

.icon-emo-laugh:before {
    content: '\e821';
}

.icon-globe-1:before {
    content: '\e822';
}

.icon-location:before {
    content: '\e823';
}

.icon-spin3:before {
    content: '\e832';
}

.icon-phone:before {
    content: '\e83f';
}

.icon-globe:before {
    content: '\e878';
}

.icon-twitter:before {
    content: '\f099';
}

.icon-github-circled:before {
    content: '\f09b';
}

.icon-sitemap:before {
    content: '\f0e8';
}

.icon-lightbulb:before {
    content: '\f0eb';
}

.icon-user-md:before {
    content: '\f0f0';
}

.icon-desktop-1:before {
    content: '\f108';
}

.icon-laptop:before {
    content: '\f109';
}

.icon-tablet-1:before {
    content: '\f10a';
}

.icon-mobile-1:before {
    content: '\f10b';
}

.icon-keyboard:before {
    content: '\f11c';
}

.icon-extinguisher:before {
    content: '\f134';
}

.icon-youtube:before {
    content: '\f167';
}

.icon-instagram:before {
    content: '\f16d';
}

.icon-wheelchair:before {
    content: '\f193';
}

.icon-bank:before {
    content: '\f19c';
}

.icon-cab:before {
    content: '\f1b9';
}

.icon-tree:before {
    content: '\f1bb';
}

.icon-share:before {
    content: '\f1e0';
}

.icon-soccer-ball:before {
    content: '\f1e3';
}

.icon-newspaper:before {
    content: '\f1ea';
}

.icon-wifi:before {
    content: '\f1eb';
}

.icon-heartbeat:before {
    content: '\f21e';
}

.icon-venus:before {
    content: '\f221';
}

.icon-facebook-official:before {
    content: '\f230';
}

.icon-train:before {
    content: '\f238';
}

.icon-mouse-pointer:before {
    content: '\f245';
}

.icon-balance-scale:before {
    content: '\f24e';
}

.icon-shopping-basket:before {
    content: '\f291';
}

.icon-gitlab:before {
    content: '\f296';
}

.icon-handshake-o:before {
    content: '\f2b5';
}

.icon-id-card-o:before {
    content: '\f2c3';
}

.icon-podcast:before {
    content: '\f2ce';
}

.icon-menu:before {
    content: '\e824';
}

.icon-menu-outline:before {
    content: '\e825';
}

.icon-messenger:before {
    content: ' ';
    font-family: sans-serif;
    display: inline-block;
    line-height: 1.3em;
    width: 100%;
    height: 100%;
}

.icon-messenger svg {
    fill: #ffffff;
    color: #ffffff;
    width: 1em;
    height: 1em;
    max-width: none;
    max-height: none;
    position: relative;
    top: -3px;
}

body {
    background: transparent url('../images/background.jpg') no-repeat center top fixed;
    background-size: cover;
    line-height: 1.4em;
}

.bg-stripes {
    background: transparent url('../images/stripe.png') repeat center top fixed;
}

.bg-white-80 {
    background-color: rgba(255, 255, 255, 0.9);
}

form > div > div {
    margin: 0.2rem;
}

table .actions a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.service-status {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.service-status-0 {
    background-color: #32cd32;
    color: #006400;
}

.service-status-10 {
    background-color: #00a5ff;
    color: #00108f;
}

.service-status-20 {
    background-color: #ffa500;
    color: #b22222;
}

.service-status-30 {
    background-color: #ff8c00;
    color: #8f1000;
}

.service-status-40 {
    background-color: #fa8072;
    color: #b22222;
}

.service-status-50 {
    background-color: #500000;
    color: #ff5555;
}

.header-background {
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
}

.bg-main {
    background: #000000 url('../images/header-bg.jpg') no-repeat center center scroll;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-background h2 {
    font-size: 0.8em;
}

.header-background .bg-stripes, .header-background .bg-main {
    transform: skew(-5deg);
}

h2::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid #00ad9c;
    width: 7em;
    position: relative;
    margin: 0.3em auto 0.5em;
}

h4::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid #e9d8fd;
    width: 10em;
    position: relative;
    margin: 0.3em 0 0.5em;
}

.burger-open .header-links-container {

}

.top-link {
    width: 170px;
    height: 130px;
    text-align: center;
    color: #efefef;
    border: 1px solid #454545;
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: #101010;
    transition: all 0.1s ease-in-out;
    box-shadow: #0f74a8 0 3px 4px -4px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.header-links-container .top-link:first-of-type {
    border-radius: 1em 0 0 1em;
}

.header-links-container .top-link:last-of-type {
    border-radius: 0 1em 1em 0;
}

.top-link.active {
    background-color: #303040;
    color: #2f94c8;
    box-shadow: #0f74a8 0 3px 4px -2px;
    text-decoration: none;
}

.top-link:hover {
    background-color: #203020;
    color: #0e2231;
    box-shadow: #0f74a8 0 4px 5px -1px;
}

.top-link span {
    display: inline-block;
}

.top-link .icon {
    width: 96%;
    height: 100%;
    font-size: 90px;
    text-align: center;
    position: absolute;
    opacity: 0.15;
    margin-left: 4%;
    z-index: 30;
    text-decoration: none;
}

.top-link .text {
    flex-basis: 100%;
    color: #efefef;
    font-weight: bold;
    padding: 0.3em;
    position: relative;
    word-break: break-word;
    z-index: 40;
    text-decoration: none;
}

.top-link.active .text {
    color: #ffffff;
}

.internal-link {
    background-color: #252545;
}

.internal-link:hover {
    background-color: #404060;
}

.red-link {
    background-color: #503030;
}

.red-link:hover {
    background-color: #604040;
}

.burger-open .header-links-container a {
    min-height: 14vh;
}

.burger-open .header-links-container a .icon {
    font-size: 4.5em;
}

.viewall {
    font-size: 1.5em;
    font-weight: bold;
    border-top: 1px #fefefe solid;
    letter-spacing: 0.05em;
    padding: 1em;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    background-color: rgba(20, 20, 21, 0.8);
    color: #00ffff;
}

.viewall:hover {
    color: #88dddd;
    text-decoration: none;
    background-color: rgba(40, 40, 41, 0.8);
}

.info-toggle {
    user-select: none;
}

.cke_reset_all table {
    width: auto;
}

.neutral-link:hover::after {
    content: '#';
    display: block;
    position: absolute;
    right: -25px;
    top: 0.15em;
    color: #bebebe;
}

.form-searchgroup-container #search_all_entities_q {
    height: 3em;
    padding-right: 18%;
}

.form-searchgroup-container button {
    top: 0;
    right: -1px;
    margin: 0;
    height: 3em;
}

.share-link span {
    color: #ffffff;
    font-size: 260%;
    display: inline-block;
    line-height: 0;
}

@media all and (max-width: 768px) {
    .share-link span {
        font-size: 150%;
    }
}

.share-link span svg {
    display: inline-block;
}







