@tailwind base;

html {
    @apply text-gray-900 antialiased leading-tight;
    font-family: 'Raleway', sans-serif;
}

body {
    @apply min-h-screen bg-blue-900 flex flex-col w-full items-center text-gray-900;
}

.bg-stripes {
    @apply w-full h-full z-0 absolute;
}

.global-container {
    @apply w-full flex-1 flex flex-col items-stretch;
}

.header-titles {
    @apply p-4 z-20 relative;
}

a {
    @apply text-blue-700;
}

a:hover {
    @apply underline text-blue-900;
}

a:hover {
    @apply text-blue-900;
}

a:active {
    @apply text-gray-900;
}

.admin input, .admin .form-input {
    @apply text-gray-800 border py-1 my-4 bg-blue-100;
}

textarea {
    @apply text-gray-800 border py-1 my-4 bg-blue-100;
}

.admin select, .admin .form-select {
    @apply text-gray-800 border py-1 my-4 bg-blue-100;
}

table {
    @apply border my-2;
}

.admin table thead {
    @apply border bg-blue-400;
}

.admin table thead tr th {
    @apply bg-blue-400;
}

.admin table tr th {
    @apply font-bold p-2;
}

.admin table tr {
    @apply border;
}

.admin table tr:nth-child(even) {
    @apply bg-gray-100;
}

.admin table tr:nth-child(odd) {
    @apply bg-purple-100;
}

table tr td {
    @apply p-1 break-all text-xs;
}

button, input[type='submit'], input[type='reset'] {
    @apply bg-blue-700 text-white py-3 px-5 m-1 rounded-lg;
}

button:hover, input[type='submit']:hover, input[type='reset']:hover {
    @apply bg-blue-900 text-gray-100;
}

h1 {
    @apply text-4xl mb-2 leading-none font-bold;
}

h2 {
    @apply text-3xl mb-2 leading-none font-bold;
}

h3 {
    @apply text-2xl mb-1 leading-none;
}

h4 {
    @apply text-xl mb-1 leading-none;
}

h1, h2, h3, h4 {
    word-break: break-word;
}

input[type='checkbox'] {
    @apply mr-2 leading-tight border;
}

input[type='checkbox'] {
    @apply mr-2 leading-tight;
}

form label {
    @apply w-full py-2 inline-block;
}

form input,
form select,
form textarea {
    @apply w-full inline-block bg-blue-100;
}

.bg-cover {
    @apply w-full h-full;
}

footer {
    @apply text-center;
}

footer a {
    @apply border-gray-400 border-solid border-r px-4;
}

footer a:last-of-type {
    @apply border-0;
}

article p {
    @apply pb-4;
}

ul, ol {
    @apply mb-4;
}

ul li {
    @apply list-disc list-inside;
}

ol li {
    @apply list-decimal list-inside;
}

.admin table {
    @apply w-full table-fixed;
}

.content-info {
    @apply p-2 border-solid border border-gray-300 bg-gray-200 hidden mt-2;
}

.info-toggle {
    @apply p-2 cursor-pointer text-blue-800 font-bold;
}

.info-toggle:hover {
    @apply underline;
}

.main-white-top-title {
    @apply uppercase text-white w-full text-center mb-10;
}

a.button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded no-underline m-4 inline-block;
}

a.button:hover {
    @apply bg-blue-700;
}

a.button:focus {
    @apply outline-none shadow-outline;
}

a.active {
    @apply underline font-bold;
}

.generic-item-container {
    @apply bg-gray-100 border-blue-200 border px-5 py-4 m-2 shadow;
}

.neutral-link, .neutral-link:hover {
    @apply no-underline text-gray-900 relative;
}

.form-searchgroup-container {
    @apply relative mt-8;
}

.form-searchgroup-container #search_all_entities {
    @apply relative w-full m-0;
}

.form-searchgroup-container #search_all_entities_q {
    @apply form-input rounded-lg text-gray-700 font-bold;
}

.form-searchgroup-container button {
    @apply absolute rounded-l-none rounded-r-lg;
}

.share-link {
    @apply inline-block;
}

.share-link:hover span, .share-link:hover, .share-link:hover svg {
    @apply text-gray-500 no-underline;
}

.home-share {
    @apply mt-4;
}

.btn-search {
    @apply bg-gray-800 px-3;
}

.header-links-container {
    @apply flex justify-between rounded-lg border-gray-400 border-2 border-solid;
}

.structural-block {
    @apply rounded-sm shadow-xl flex-initial;
}

.burger-menu-trigger {
    @apply bg-white w-full;
}

.burger-menu-link {
    @apply text-xl px-5 py-3 block cursor-pointer w-full font-bold text-gray-600;
}

.burger-menu-link, .burger-menu-link:hover, .burger-menu-link:active {
    @apply no-underline !important;
}

.burger-open .burger-menu-link {
    @apply text-blue-600;
}

.burger-menu-link span {
    @apply mr-3;
}

.burger-menu-link .icon-menu {
    @apply inline-block;
}

.burger-menu-link .icon-menu-outline {
    @apply hidden;
}

.burger-open .icon-menu {
    @apply hidden !important;
}

.burger-open .icon-menu-outline {
    @apply inline-block !important;
}

.burger-open .header-links-container {
    @apply w-screen flex-wrap rounded-none;
}

.burger-open .header-links-container a {
    @apply flex-grow rounded-none !important;
}

.burger-open .header-links-container .top-link {
    @apply w-1/2 h-auto !important;
}

.view-all-container {
    @apply w-full flex-1 flex-grow text-center;
}

.home-secondary-title {
    @apply w-full text-center uppercase mt-4 inline-block;
}

.home-services-list {
    @apply flex flex-wrap justify-around items-stretch;
}

@tailwind components;
@tailwind utilities;
