{% extends 'public_layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main>
        <div class="{{ block('container_class') }} rounded-sm shadow-xl p-6 m-4 mb-6 flex-initial">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">{{ 'Please sign in'|trans }}</h1>
                <label for="inputEmail">{{ 'Email'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       class="form-control form-input" required autofocus>
                <label for="inputPassword">{{ 'Password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control form-input" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me" class="form-checkbox"> {{ 'Remember me'|trans }}
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    {{ 'Sign in'|trans }}
                </button>
            </form>
        </div>
    </main>
{% endblock %}
