{% extends 'admin_layout.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4 text-center">
        <h1>Page index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Slug</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.id }}</td>
                        <td><strong>{{ page.title }}</strong></td>
                        <td>{{ page.text|slice(0,50) }}...</td>
                        <td>{{ page.created ? page.created|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ page.created ? page.updated|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ page.slug }}</td>
                        <td class="actions">
                            <a href="{{ path('page_show', {'id': page.id}) }}">show</a>
                            <a href="{{ path('page_public_view', {'slug': page.slug, 'page': page.id}) }}">public
                                view</a>
                            <a href="{{ path('page_edit', {'id': page.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'No records found'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('page_new') }}" class="button">{{ 'Create new'|trans }}</a>
    </div>
{% endblock %}
