{% extends 'admin_layout.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('page_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>Page</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ page.id }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ page.text }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ page.title }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ page.created ? page.created|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ page.updated ? page.updated|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ page.slug }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('page_edit', {'id': page.id}) }}" class="button">edit</a>

        {{ include('page/_delete_form.html.twig') }}
    </div>
{% endblock %}
