{% extends 'admin_layout.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">
        <a href="{{ path('service_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>Edit Service</h1>

        {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('service/_delete_form.html.twig') }}
    </div>
{% endblock %}
