{% extends 'admin_layout.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4 text-center">
        <h1>Service index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Source</th>
                    <th>Information</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Source2</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td><strong>{{ service.name }}</strong></td>
                        <td>{{ service.statusAsString|trans }}</td>
                        <td>{{ service.typeAsString|trans }}</td>
                        <td>{{ service.source|slice(0,50) }}</td>
                        <td>{{ service.information|slice(0,50) }}</td>
                        <td>{{ service.phone }}</td>
                        <td>{{ service.email }}</td>
                        <td>{{ service.source2|slice(0,50) }}</td>
                        <td>{{ service.created ? service.created|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ service.created ? service.updated|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="actions">
                            <a href="{{ path('service_show', {'id': service.id}) }}">show</a>
                            <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{{ 'No records found'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('service_new') }}" class="button" title="{{ 'Create new'|trans }}"
           aria-label="{{ 'Create new'|trans }}">{{ 'Create new'|trans }}
        </a>
    </div>
{% endblock %}
