{% extends 'admin_layout.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('service_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>Service</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ service.id }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ service.status }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ service.name }}</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>{{ service.source }}</td>
                </tr>
                <tr>
                    <th>Information</th>
                    <td>{{ service.information }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ service.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ service.email }}</td>
                </tr>
                <tr>
                    <th>Source2</th>
                    <td>{{ service.source2 }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('service_edit', {'id': service.id}) }}" class="button">edit</a>

        {{ include('service/_delete_form.html.twig') }}
    </div>
{% endblock %}
