{% extends 'admin_layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('user_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>{{ 'Create new'|trans }} User</h1>

        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
