{% extends 'admin_layout.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('user_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>User</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('user_edit', {'id': user.id}) }}" class="button" title="{{ 'edit'|trans }}"
           aria-label="{{ 'edit'|trans }}">{{ 'edit'|trans }}</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
