{% extends 'admin_layout.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4 text-center">
        <h1>{{ 'News index'|trans }}</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Source</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for news in news %}
                    <tr>
                        <td>{{ news.id }}</td>
                        <td><strong>{{ news.title }}</strong></td>
                        <td>{{ news.text|slice(0,50) }}</td>
                        <td>{{ news.source|slice(0,50) }}</td>
                        <td>{{ news.created ? news.created|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ news.updated ? news.updated|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                            <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'No records found'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('news_new') }}" class="button">{{ 'Create new'|trans }}</a>
    </div>
{% endblock %}
