{% extends 'admin_layout.html.twig' %}

{% block title %}New News{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('news_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>{{ 'Create new'|trans }} News</h1>

        {{ include('news/_form.html.twig') }}
    </div>
{% endblock %}
