{% extends 'admin_layout.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('news_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>News</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ news.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ news.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ news.slug }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ news.text }}</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>{{ news.source }}</td>
                </tr>
                <tr>
                    <th>Updatedat</th>
                    <td>{{ news.updatedat ? news.updatedat|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('news_edit', {'id': news.id}) }}" class="button">edit</a>

        {{ include('news/_delete_form.html.twig') }}
    </div>
{% endblock %}
