{% extends 'public_layout.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block mainsection %}
    {{ block('body') }}
{% endblock %}

{% block container_class %}bg-white-80{% endblock %}

{% block body %}
    <h1 class="main-white-top-title text-4xl lg:text-6xl my-0 lg:mt-10 lg:mb-6">
        {{ 'Search results for "%q%"'|trans({'%q%': q}) }}
    </h1>

    {% set had_results = false %}

    {% if search_form is defined and search_form is not empty %}
        <div class="search-form-container px-0 lg:px-12 w-full lg:w-1/2 self-center mb-4 lg:mb-6 px-4">
            {{ form_start(search_form) }}
            <div class="form-searchgroup-container shadow-2xl rounded-lg" role="searchbox">
                {{ form_widget(search_form.q, {'value': q}) }}
                {{ form_rest(search_form) }}
                <button class="btn btn-search">{{ button_label|default('Search')|trans }}</button>
            </div>
            {{ form_end(search_form) }}
        </div>
    {% endif %}

    {% if results_found.services_found is defined and results_found.services_found is not empty %}
        <div class="{{ block('container_class') }} rounded-sm shadow-xl p-1 lg:p-6 m-2 lg:m-4 flex-initial">

            <div>
                <h2 class="w-full text-center uppercase mt-4 lg:mt-2">
                    <span class="icon-users-1"></span> {{ 'Services'|trans }}
                </h2>

                <div class="services-list home-services-list block-list">
                    {% include('main/_services_grouped_by_blocks.html.twig') with {'services': results_found.services_found, 'type': 'institutional_services'} %}
                </div>
            </div>

        </div>
        {% set had_results = true %}
    {% endif %}

    {% if results_found.sources_found is defined and results_found.sources_found is not empty %}

        {% set search_has_sources = false %}

        {% for source_type in results_found.sources_found %}
            {% if source_type|length > 0 %}
                {% set search_has_sources = true %}
            {% endif %}
        {% endfor %}

        {% if search_has_sources is same as(true) %}
            <div class="{{ block('container_class') }} rounded-sm shadow-xl p-1 lg:p-6 m-2 lg:m-4 flex-initial">

                <h2 class="w-full text-center uppercase mt-4 lg:mt-2">
                    <span class="icon-newspaper"></span> {{ 'Sources'|trans }}
                </h2>

                <div class="flex row">
                    {% set sources_columns_count = 0 %}

                    {% for key, sources_by_type in results_found.sources_found %}
                        {% if sources_by_type|length > 0 %}
                            {% set sources_columns_count = sources_columns_count + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% for key, sources_by_type in results_found.sources_found %}
                        {% if sources_by_type|length > 0 %}
                            {% include 'main/_sources_grouped_by_columns.html.twig' with {'sources': sources_by_type} %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% set had_results = true %}
        {% endif %}
    {% endif %}

    {% if results_found.news_found is defined and results_found.news_found is not empty %}
        <div class="{{ block('container_class') }} rounded-sm shadow-xl p-1 lg:p-6 m-2 lg:m-4 flex-initial">

            <div>
                <h2 class="w-full text-center uppercase mt-4 lg:mt-2">
                    <span class="icon-newspaper"></span> {{ 'News'|trans }}
                </h2>

                <div class="services-list block-list text-center text-xl">
                    {% for piece_of_news in results_found.news_found %}
                        {% include 'main/_news_block.html.twig' %}
                    {% endfor %}
                </div>
            </div>

        </div>
        {% set had_results = true %}
    {% endif %}

    {% if results_found.pages_found is defined and results_found.pages_found is not empty %}
        <div class="{{ block('container_class') }} rounded-sm shadow-xl p-1 lg:p-6 m-2 lg:m-4 flex-initial">

            <div>
                <h2 class="w-full text-center uppercase mt-4 lg:mt-2">
                    <span class="icon-newspaper"></span> {{ 'Pages'|trans }}
                </h2>

                <div class="services-list block-list text-center text-xl">
                    {% for page in results_found.pages_found %}
                        {% include 'main/_page_block.html.twig' %}
                    {% endfor %}
                </div>
            </div>

        </div>
        {% set had_results = true %}
    {% endif %}

    {% if had_results is same as(false) %}
        <div class="{{ block('container_class') }} rounded-sm shadow-xl p-4 lg:p-6 m-2 lg:m-4 mb-6 lg:mb-4 flex-initial">
            <span class="icon-cancel-circled"></span> {{ 'No results were found, sorry.'|trans }} :(
        </div>
    {% endif %}
{% endblock %}

{% block footer_container_class %}bg-white-80{% endblock %}
