<div class="generic-item-container mb-2 xl:mb-6">
    <span class="icon-newspaper"></span>
    <a href="{{ piece_of_news.source }}" target="_blank" class="mb-6"
       aria-label="{{ piece_of_news.title|escape }}"
       title="{{ piece_of_news.title|escape }}">
        {{ piece_of_news.title }}
    </a>
    <br>
    <em class="text-sm">
        {{ 'last.updated.date.formatted'|trans({'%formatted_date%': piece_of_news.updated|format_datetime('full', 'short', locale=app.request.locale)}) }}
    </em>
</div>