<div class="generic-item-container mb-2 xl:mb-6">
    <span class="icon-link-1"></span>
    <a title="{{ page.title|escape }}" aria-label="{{ page.title|e }}"
       href="{{ path('page_public_view', {'_locale': app.request.locale, 'slug': page.slug, 'page': page.id}) }}">
        {{ page.title }}
    </a>
    <br>
    <em class="text-sm">
        {{ 'last.updated.date.formatted'|trans({'%formatted_date%': page.updated|format_datetime('full', 'short', locale=app.request.locale)}) }}
    </em>
</div>