{% if services is defined %}
    {% for service in services %}
        <div class="service w-full p-1 lg::p-4 lg:w-1/3">
            {% include 'main/_service_block.html.twig' %}
        </div>
    {% endfor %}
{% endif %}
