{% if services is defined %}

    {% if services_columns_count is defined and services_columns_count > 1 %}
        {% set flex_class = 'lg:w-1/' ~ services_columns_count %}
    {% else %}
        {% set flex_class = 'lg:w-full' %}
    {% endif %}

    {% if key is defined %}
        {% if key is same as('institutional_services') %}
            {% set icon_class = 'icon-users-1' %}
        {% elseif key is same as('stores_services') %}
            {% set icon_class = 'icon-basket' %}
        {% elseif key is same as('private_services') %}
            {% set icon_class = 'icon-handshake-o' %}
        {% else %}
            {% set icon_class = 'icon-users-1' %}
        {% endif %}
    {% else %}
        {% set icon_class = 'icon-users-1' %}
    {% endif %}

    <div class="bg-white-80 rounded-sm shadow-xl p-1 lg:p-6 m-1 lg:m-2 flex-initial w-auto {{ flex_class }}">

        {% if key is defined %}
            <h2 class="w-full text-center uppercase mt-4 lg:mt-2">
                <span class="{{ icon_class }}"></span> {{ key|trans }}
            </h2>
        {% endif %}

        {% for service in services %}
            {% include 'main/_service_block.html.twig' with {'type': key} %}
        {% else %}
            {{ 'no.service.found'|trans }}
        {% endfor %}
    </div>
{% endif %}

