{% if service is defined and type is defined %}
    <div class="bg-gray-100 border-blue-200 border px-2 lg:px-5 py-3 lg:py-4 m-1 lg:my-4 shadow">

        {% if key is defined %}
            {% if key is same as('institutional_services') %}
                {% set icon_class = 'icon-users-1' %}
            {% elseif key is same as('stores_services') %}
                {% set icon_class = 'icon-basket' %}
            {% elseif key is same as('private_services') %}
                {% set icon_class = 'icon-handshake-o' %}
            {% else %}
                {% set icon_class = 'icon-users-1' %}
            {% endif %}
        {% else %}
            {% set icon_class = 'icon-users-1' %}
        {% endif %}

        <h4 id="service-{{ service.id }}">
            <a href="#service-{{ service.id }}" class="neutral-link" role="link"
               aria-label="{{ 'Click/tap to get an anchor to this.'|trans }}"
               title="{{ 'Click/tap to get an anchor to this.'|trans }}">
                <span class="{{ icon_class }}"></span> {{ service.name }}
            </a>
        </h4>

        <div class="flex flex-col">

            <div class="flex flex-col lg:flex-row">

                <div class="service-status-container flex flex-col w-auto lg:w-2/5 flex-initial">
                    <div class="service-status service-status-{{ service.status }} inline-block p-2 lg:p-4">
                        {{ service.statusAsString|trans }}
                    </div>
                    {% if service.information is not empty %}
                        <div class="info-toggle text-center flex-grow" data-id="{{ service.id }}" role="button"
                             title="{{ service.information|striptags|raw }}">
                            <div class="question-mark icon-mouse-pointer"> {{ 'More information'|trans }}</div>
                        </div>
                    {% endif %}
                </div>

                <div class="lg:pl-4 flex-grow w-auto lg:w-3/5 mt-2 lg:mt-0">
                    {% if service.source is not empty %}
                        <div class="mb-2">
                            <span class="icon-link-1"></span>
                            <a href="{{ service.source }}" aria-label="{{ 'Information source'|trans }}"
                               class="source w-full inline" target="_blank" title="{{ 'Information source'|trans }}">
                                {{ 'Information source'|trans }}
                            </a>
                        </div>
                    {% endif %}
                    {% if service.source2 is not empty %}
                        <div class="mb-2">
                            <span class="icon-link-1"></span>
                            <a href="{{ service.source2 }}" aria-label="{{ 'Information source'|trans }}"
                               class="source w-full inline" target="_blank"
                               title="{{ 'Other information source'|trans }}">
                                {{ 'Other information source'|trans }}
                            </a>
                        </div>
                    {% endif %}
                    {% if service.phone is not empty %}
                        <div class="mb-2">
                            <strong>
                                <span class="icon-phone"></span>
                                {{ 'Phone number'|trans }}
                            </strong>
                            <a href="tel:{{ service.phone|replace({' ': ''}) }}" target="_blank"
                               title="{{ 'Phone number'|trans }} {{ service.phone }}">
                                {{ service.phone }}
                            </a>
                        </div>
                    {% endif %}
                    {% if service.address is not empty %}
                        <div class="mb-2">
                            <strong>
                                <span class="icon-home-outline"></span>
                                {{ 'Address'|trans }}
                            </strong>
                            {{ service.address }}
                        </div>
                        <div class="mb-2">
                            <a href="http://maps.google.com/?q={{ service.address|escape }}" target="_blank"
                               class="font-bold bg-blue-100 border-blue-200 border-2 px-4 py-1 mt-2 inline-block hover:shadow hover:bg-blue-300 hover:no-underline hover:border-blue-500"
                               title="{{ 'Go there'|trans|escape }}" aria-label="{{ 'Go there'|trans|escape }}">
                                <span class="icon-location"></span> {{ 'Go there'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="flex">
                {% if service.information is not empty %}
                    <div class="flex-grow">
                        <div class="content-info service-information-{{ service.id }}" data-id="{{ service.id }}">
                            {{ service.information|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>
{% endif %}
