{% autoescape false %}

    {% set escaped_default_mailto_text = (globals_website_name ~ ' - ' ~ globals_website_subtitle ~ ' >> ' ~ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|escape('html_attr') %}
    {% set escaped_default_twitter_text = (globals_website_name ~ ' - ' ~ globals_website_subtitle ~ ' >> ')|escape('html_attr') %}

    {% if globals_facebook_app_id is defined %}
        <a class="share-link m-2 lg:mx-5 lg:my-2" target="_blank"
           href="https://www.facebook.com/dialog/share?app_id={{ globals_facebook_app_id }}&amp;display=popup&amp;href={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2F&amp;redirect_uri={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2Ftools%2Fexplorer"
           title="{{ 'Share to Facebook'|trans }}" aria-label="{{ 'Share to Facebook'|trans }}">
            <span class="icon-facebook-official"></span>
        </a>
    {% endif %}

    <a class="share-link m-2 lg:mx-5 lg:my-2" target="_blank"
       href="fb-messenger://share/?link={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape('html_attr') }}"
       title="{{ 'Share to Messenger (on mobile)'|trans }}" aria-label="{{ 'Share to Messenger (on mobile)'|trans }}">
        <span class="icon-messenger">
            <svg xmlns="http://www.w3.org/2000/svg" width="1536" height="1792" viewBox="0 0 1536 1792">
                <path d="M760.274 128C46.788 128-273.441 971.429 282.33 1391.771V1664l259.543-144c487.542 136.457 978.514-205.371 978.514-681.257C1520.73 446.17 1180.274 128 760.274 128zm80.228 953.486l-196.8-204.343-378.514 209.486 415.2-440.572 196.8 204.343 378.514-209.486z"
                      fill="currentColor"/>
            </svg>
        </span>
        <span class="icon-mobile"></span>
    </a>

    <a class="share-link m-2 lg:mx-5 lg:my-2" target="_blank"
       href="https://www.facebook.com/dialog/send?app_id={{ globals_facebook_app_id }}&amp;link={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2F&amp;redirect_uri={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape }}%2Ftools%2Fexplorer"
       title="{{ 'Share to Messenger (on a computer)'|trans }}" aria-label="{{ 'Share to Messenger (on a computer)'|trans }}">
        <span class="icon-messenger">
            <svg xmlns="http://www.w3.org/2000/svg" width="1536" height="1792" viewBox="0 0 1536 1792">
                <path d="M760.274 128C46.788 128-273.441 971.429 282.33 1391.771V1664l259.543-144c487.542 136.457 978.514-205.371 978.514-681.257C1520.73 446.17 1180.274 128 760.274 128zm80.228 953.486l-196.8-204.343-378.514 209.486 415.2-440.572 196.8 204.343 378.514-209.486z"
                      fill="currentColor"/>
            </svg>
        </span>
        <span class="icon-desktop"></span>
    </a>

    <a class="share-link m-2 lg:mx-5 lg:my-2"
       href="https://twitter.com/share?text={{ escaped_default_twitter_text }}&amp;url={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|escape('html_attr') }}"
       data-size="large" target="_blank" title="{{ 'Share to Twitter'|trans }}" aria-label="{{ 'Share to Twitter'|trans }}">
        <span class="icon-twitter"></span>
    </a>

    <a class="share-link m-2 lg:mx-5 lg:my-2"
       href="mailto:address@yourfriendsdomain.com?subject={{ (globals_website_name ~ ' - ' ~ globals_website_subtitle)|escape('html_attr') }}&amp;body={{ escaped_default_mailto_text }}"
       title="{{ 'Share via email'|trans }}" aria-label="{{ 'Share via email'|trans }}">
        <span class="icon-mail"></span>
    </a>
{% endautoescape %}