{% if sources is defined %}

    {% if sources_columns_count is defined and sources_columns_count > 1 %}
        {% set flex_class = 'lg:w-1/' ~ sources_columns_count %}
    {% else %}
        {% set flex_class = 'lg:w-full' %}
    {% endif %}

    {% if key is defined %}
        {% if key is same as('authorities_sources') %}
            {% set icon_class = 'icon-users-1' %}
        {% elseif key is same as('official_sources') %}
            {% set icon_class = 'icon-ok' %}
        {% elseif key is same as('fun_sources') %}
            {% set icon_class = 'icon-emo-laugh' %}
        {% elseif key is same as('fake_sources') %}
            {% set icon_class = 'icon-cancel-circled' %}
        {% else %}
            {% set icon_class = 'icon-users-1' %}
        {% endif %}
    {% else %}
        {% set icon_class = 'icon-users-1' %}
    {% endif %}

    <div class="bg-white-80 rounded-sm shadow-xl p-1 lg:p-6 m-1 md:m-0 lg:m-2 flex-initial w-auto {{ flex_class }}">

        {% if key is defined %}
            <h2 class="w-full text-center uppercase mt-4 lg:mt-2"><span class="{{ icon_class }}"></span> {{ key|trans }}</h2>
        {% endif %}

        {% for source in sources %}
            <div class="bg-gray-100 border-blue-200 border px-3 lg:px-5 py-2 lg:py-4 mx-0 m-2 lg:mb-4 shadow">
                <article>
                    <h4>
                        <span class="{{ icon_class }}"></span> {{ source.name }}
                    </h4>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            {% if source.url is not empty %}
                                <div class="flex-grow mb-2">
                                    <span class="icon-link-1"></span>
                                    <a href="{{ source.url }}" aria-label="{{ 'Link'|trans }}"
                                       class="source inline text-justify" target="_blank" title="{{ 'Link'|trans }}">
                                        {{ source.url }}
                                    </a>
                                </div>
                            {% endif %}
                            {% if source.facebookurl is not empty %}
                                <div class="flex-grow mb-2">
                                    <span class="icon-facebook-official"></span>
                                    <a href="{{ source.facebookurl }}" aria-label="{{ 'Facebook page'|trans }}"
                                       class="source inline text-justify" target="_blank"
                                       title="{{ 'Facebook page'|trans }}">
                                        {{ source.facebookurl }}
                                    </a>
                                </div>
                            {% endif %}
                            {% if source.twitterurl is not empty %}
                                <div class="flex-grow mb-2">
                                    <span class="icon-twitter"></span>
                                    <a href="{{ source.twitterurl }}" aria-label="{{ 'Twitter account'|trans }}"
                                       class="source inline text-justify" target="_blank"
                                       title="{{ 'Twitter account'|trans }}">
                                        {{ source.twitterurl }}
                                    </a>
                                </div>
                            {% endif %}
                            {% if source.instagramurl is not empty %}
                                <div class="flex-grow mb-2">
                                    <span class="icon-instagram"></span>
                                    <a href="{{ source.instagramurl }}" aria-label="{{ 'Instagram account'|trans }}"
                                       class="source inline text-justify" target="_blank"
                                       title="{{ 'Instagram account'|trans }}">
                                        {{ source.instagramurl }}
                                    </a>
                                </div>
                            {% endif %}
                            {% if source.description is not empty %}
                                <div class="flex-grow mb-2">
                                    <span class="icon-info-circled"></span>
                                    {{ source.description }}
                                </div>
                            {% endif %}
                        </div>
                        {% if app.user is defined and app.user is not empty and is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('source_edit', {'id': source.id}) }}"
                               title="{{ 'Edit this item'|trans }}">{{ 'Edit'|trans }}</a>
                        {% endif %}
                    </div>
                </article>
            </div>
        {% else %}
            {{ 'no.source.found'|trans }}
        {% endfor %}
    </div>
{% endif %}

