<div class="flex flex-col lg:flex-row">
    <div class="flex-initial px-8 text-center py-4 w-full lg:w-3/12 order-2 lg:order-1">
        <h2 class="w-full uppercase">
            <span class="icon-bank"> {{ 'Official sources'|trans }}
        </h2>
        <div>
            {% if official_sources is defined %}
                {% for official_source in official_sources %}
                    <div class="source">
                        <a href="{{ official_source.url }}" title="{{ official_source.name|escape }}" target="_blank"
                           class="text-xl leading-normal" aria-label="{{ official_source.name|escape }}">
                            {{ official_source.name }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="flex flex-1 flex-col text-center w-full lg:w-6/12 header-background relative order-1 lg:order-2">
        <div class="bg-main"></div>
        <div class="bg-stripes"></div>
        <div class="header-titles m-auto">
            <h1 class="text-5xl lg:text-6xl w-full uppercase">{{ globals_website_name }}</h1>
            <h2 class="text-2xl w-full">📱 {{ globals_website_url }}</h2>
            <h3 class="w-full text-sm lg:text-xl">{{ globals_website_subtitle }}</h3>
            {% if search_form is defined and search_form is not empty %}
                <div class="search-form-container px-0 lg:px-12">
                    {{ form_start(search_form) }}
                    <div class="form-searchgroup-container" role="searchbox">
                        {{ form_widget(search_form.q, {'attr': {'value': q}}) }}
                        {{ form_rest(search_form) }}
                        <button class="btn btn-search">{{ button_label|default('Search')|trans }}</button>
                    </div>
                    {{ form_end(search_form) }}
                </div>
            {% endif %}
            <div class="home-share">
                {% include 'main/_share_links.html.twig' %}
            </div>
        </div>
    </div>

    <div class="flex flex-initial text-center py-4 px-8 w-full lg:w-3/12 justify-center items-center flex-col order-3">
        <h2 class="w-full flex-grow flex-1 uppercase">
            <span class="icon-help-circled"></span> {{ 'Confinement information'|trans }}
        </h2>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link maladie-link flex-grow flex-1"
           href="https://www.vie-publique.fr/loi/273942-loi-durgence-pour-faire-face-lepidemie-de-covid-19"
           title="Loi du 23 mars 2020 d'urgence pour faire face à l'épidémie de Covid-19"
           aria-label="Loi du 23 mars 2020 d'urgence pour faire face à l'épidémie de Covid-19">
            <span class="icon-balance-scale icon"></span>
            <span class="text">Loi d'urgence du 23 Mars 2020</span>
        </a>
    </div>
</div>
