{% extends 'public_layout.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block global_container_classes %}pt-12 lg:pt-0{% endblock %}

{% block mainsection %}
    {{ block('body') }}
{% endblock %}

{% block body %}
    <main>

        <div class="{{ block('container_class') }} structural-block xl:m-4">
            {% include 'main/_top_banner.html.twig' %}
        </div>

        {% if institutional_services is defined and institutional_services is not empty %}
            <div class="{{ block('container_class') }} structural-block mx-2 my-4 xl:m-4 xl:p-6 xl:mb-6">

                <div>
                    <h2 class="home-secondary-title lg:mt-2">
                        <span class="icon-users-1"></span> {{ 'Services status'|trans }}
                    </h2>

                    <div class="services-list home-services-list block-list">
                        {% include('main/_services_grouped_by_blocks.html.twig') with {'services': institutional_services, 'type': 'institutional_services'} %}
                    </div>

                    <div class="view-all-container">
                        <a href="{{ path('view_services') }}" class="viewall mt-2 xl:mt-4"
                           title="{{ 'View all services'|trans|escape }}"
                           aria-label="{{ 'View all services'|trans|escape }}">
                            {{ 'View all services'|trans }} &blacktriangleright;
                        </a>
                    </div>
                </div>

            </div>
        {% endif %}

        {% if private_services is defined and private_services is not empty %}
            <div class="{{ block('container_class') }} structural-block mx-2 my-4 xl:m-4 xl:p-6 xl:mb-6">

                <div>
                    <h2 class="home-secondary-title lg:mt-2">
                        <span class="icon-handshake-o"></span> {{ 'Private services status'|trans }}
                    </h2>

                    <div class="services-list home-services-list block-list">
                        {% include('main/_services_grouped_by_blocks.html.twig') with {'services': private_services, 'type': 'private_services'} %}
                    </div>

                    <div class="view-all-container">
                        <a href="{{ path('view_services') }}" class="viewall mt-2 xl:mt-4"
                           title="{{ 'View all services'|trans|escape }}"
                           aria-label="{{ 'View all services'|trans|escape }}">
                            {{ 'View all services'|trans }} &blacktriangleright;
                        </a>
                    </div>
                </div>

            </div>
        {% endif %}

        {% if stores_services is defined and stores_services is not empty %}
            <div class="{{ block('container_class') }} structural-block mx-2 my-4 xl:m-4 xl:p-6 xl:mb-6 ">

                <div>
                    <h2 class="home-secondary-title lg:mt-2">
                        <span class="icon-basket"></span> {{ 'Stores status'|trans }}
                    </h2>

                    <div class="services-list home-services-list block-list">
                        {% include('main/_services_grouped_by_blocks.html.twig') with {'services': stores_services, 'type': 'stores_services'} %}
                    </div>

                    <div class="view-all-container">
                        <a href="{{ path('view_services') }}" class="viewall mt-2 xl:mt-4"
                           title="{{ 'View all services'|trans|escape }}"
                           aria-label="{{ 'View all services'|trans|escape }}">
                            {{ 'View all services'|trans }} &blacktriangleright;
                        </a>
                    </div>
                </div>

            </div>
        {% endif %}

        <div class="{{ block('container_class') }} structural-block mx-2 my-4 xl:m-4 xl:p-6 xl:mb-6">

            <div>
                <h2 class="home-secondary-title lg:mt-2">
                    <span class="icon-newspaper"></span> {{ 'Important news'|trans }}
                </h2>

                <div class="services-list block-list text-center text-xl">
                    {% if news is defined %}
                        {% for piece_of_news in news %}
                            {% include 'main/_news_block.html.twig' %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="view-all-container">
                    <a href="{{ path('view_news') }}" class="viewall mt-2 xl:mt-4"
                       title="{{ 'View all news and articles'|trans|escape }}"
                       aria-label="{{ 'View all news and articles'|trans|escape }}">
                        {{ 'View all news and articles'|trans }} &blacktriangleright;
                    </a>
                </div>
            </div>

        </div>

    </main>
{% endblock %}
