{% extends 'public_layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block container_class %}{% endblock %}

{% block body %}
    {% if page is defined and page is not empty %}

        <h1 class="main-white-top-title text-5xl lg:text-6xl">{{ page.title }}</h1>

        <div class="bg-gray-100 border-blue-200 border px-5 py-4 m-2 mb-6 shadow">
            {% if app.user is defined and app.user is not empty and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('page_edit', {'id': page.id}) }}"
                   title="{{ 'Edit this item'|trans }}">{{ 'Edit'|trans }}</a>
            {% endif %}

            <article>
                <div>
                    {{ page.text|raw }}
                </div>
            </article>
        </div>

    {% else %}

        <div class="bg-gray-100 border-blue-200 border px-5 py-4 m-2 mb-6 shadow">
            {{ '404 - Page not found'|trans }} :(
        </div>

    {% endif %}
{% endblock %}

{% block footer_container_class %}bg-white-80{% endblock %}
