{% extends 'public_layout.html.twig' %}

{% block title %}{{ 'All services'|trans }}{% endblock %}

{% block container_class %}{% endblock %}

{% block body %}
    <h1 class="main-white-top-title text-5xl lg:text-6xl">{{ 'Services'|trans }}</h1>

    <div class="flex flex-col lg:flex-row">

        {% if services is defined %}

            {% set services_columns_count = 0 %}

            {% for key, services_by_type in services %}
                {% if services_by_type|length > 0 %}
                    {% set services_columns_count = services_columns_count + 1 %}
                {% endif %}
            {% endfor %}

            {% for key, services_by_type in services %}
                {% if services_by_type|length > 0 %}
                    {% include 'main/_services_grouped_by_columns.html.twig' with {'services': services_by_type} %}
                {% endif %}
            {% endfor %}

        {% endif %}

    </div>
{% endblock %}

{% block footer_container_class %}bg-white-80{% endblock %}
