{% extends 'public_layout.html.twig' %}

{% block title %}{{ 'All sources'|trans }}{% endblock %}

{% block container_class %}{% endblock %}

{% block body %}
    <h1 class="main-white-top-title text-5xl lg:text-6xl">{{ 'Sources'|trans }}</h1>

    <div class="flex flex-col lg:flex-row">

        {% if sources is defined %}

            {% set sources_columns_count = 0 %}

            {% for key, sources_by_type in sources %}
                {% if sources_by_type|length > 0 %}
                    {% set sources_columns_count = sources_columns_count + 1 %}
                {% endif %}
            {% endfor %}

            {% for key, sources_by_type in sources %}
                {% if sources_by_type|length > 0 %}
                    {% include 'main/_sources_grouped_by_columns.html.twig' with {'sources': sources_by_type} %}
                {% endif %}
            {% endfor %}

        {% endif %}

    </div>
{% endblock %}

{% block footer_container_class %}bg-white-80{% endblock %}
