{% extends 'public_layout.html.twig' %}

{% block title %}{{ 'All news'|trans }}{% endblock %}

{% block container_class %}{% endblock %}

{% block body %}
    {% if news is defined and news is not empty %}

        <h1 class="main-white-top-title text-5xl lg:text-6xl">{{ 'All news'|trans }}</h1>

        {% if news is defined %}
            {% for piece_of_news in news %}
                <article>
                    <div class="generic-item-container mb-2 xl:mb-6">
                        <span class="icon-newspaper"></span>
                        <a href="{{ piece_of_news.source }}" class="lg:inline-block text-xl" target="_blank"
                           aria-label="{{ piece_of_news.title|escape }}" title="{{ piece_of_news.title|escape }}">
                            {{ piece_of_news.title }}
                        </a>
                        <br/>
                        <em class="text-sm">
                            {{ 'last.updated.date.formatted'|trans({'%formatted_date%': piece_of_news.updated|format_datetime('full', 'short', locale=app.request.locale)}) }}
                        </em>
                        {% if piece_of_news.text is defined and piece_of_news.text is not empty %}
                            <div class="news-contents mt-4">
                                {{ piece_of_news.text|raw }}
                            </div>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    {% else %}
        {{ 'No news were found'|trans }} :(
    {% endif %}
{% endblock %}

{% block footer_container_class %}bg-white-80{% endblock %}
