{% extends 'admin_layout.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4 text-center">
        <div class="m-4 border-2 p-4">
            <h2><span class="icon-users-1"></span> {{ 'Services'|trans }}</h2>
            <a title="{{ 'Services'|trans }}" href="{{ path('service_index') }}">{{ 'Services'|trans }}</a>
            <br>
            <a title="{{ 'Add'|trans }}" href="{{ path('service_new') }}">{{ 'Add'|trans }}</a>
        </div>

        <div class="m-4 border-2 p-4">
            <h2><span class="icon-link-1"></span> {{ 'Sources'|trans }}</h2>
            <a title="{{ 'Sources'|trans }}" href="{{ path('source_index') }}">{{ 'Sources'|trans }}</a>
            <br/>
            <a title="{{ 'Add'|trans }}" href="{{ path('source_new') }}">{{ 'Add'|trans }}</a>
        </div>

        <div class="m-4 border-2 p-4">
            <h2><span class="icon-users"></span> {{ 'Users'|trans }}</h2>
            <a title="{{ 'Users'|trans }}" href="{{ path('user_index') }}">{{ 'Users'|trans }}</a>
            <br/>
            <a title="{{ 'Add'|trans }}" href="{{ path('user_new') }}">{{ 'Add'|trans }}</a>
        </div>

        <div class="m-4 border-2 p-4">
            <h2><span class="icon-desktop"></span> {{ 'Pages'|trans }}</h2>
            <a title="{{ 'Pages'|trans }}" href="{{ path('page_index') }}">{{ 'Pages'|trans }}</a>
            <br/>
            <a title="{{ 'Add'|trans }}" href="{{ path('page_new') }}">{{ 'Add'|trans }}</a>
        </div>

        <div class="m-4 border-2 p-4">
            <h2><span class="icon-news"></span> {{ 'News'|trans }}</h2>
            <a title="{{ 'News'|trans }}" href="{{ path('news_index') }}">{{ 'News'|trans }}</a>
            <br/>
            <a title="{{ 'Add'|trans }}" href="{{ path('news_new') }}">{{ 'Add'|trans }}</a>
        </div>
    </div>
{% endblock %}

