<div class="main-menu">

    <div class="burger-menu-trigger block lg:hidden">
        <a class="burger-menu-link" id="burger-toggle">
            <span class="icon-menu"></span>
            <span class="icon-menu-outline"></span>
            {{ globals_website_name }}
        </a>
    </div>

    <div class="header-links-container hidden lg:flex">
        <a class="top-link internal-link home-link text-sm {{ app.request.get('_route') == 'home' ? 'active' }}"
           href="{{ path('home') }}" title="{{ 'Home'|trans }}" aria-label="{{ 'Home'|trans }}">
            <span class="icon-home icon"></span>
            <span class="text">{{ 'Home'|trans }}</span>
        </a>

        <a class="top-link internal-link services-link text-sm {{ app.request.get('_route') == 'view_services' ? 'active' }}"
           href="{{ path('view_services') }}" title="{{ 'Services'|trans }}" aria-label="{{ 'Services'|trans }}">
            <span class="icon-group icon"></span>
            <span class="text">{{ 'Services'|trans }}</span>
        </a>

        <a class="top-link internal-link sources-link text-sm {{ app.request.get('_route') == 'view_sources' ? 'active' }}"
           href="{{ path('view_sources') }}" title="{{ 'Sources'|trans }}" aria-label="{{ 'Sources'|trans }}">
            <span class="icon icon-link-1"></span>
            <span class="text">{{ 'Sources'|trans }}</span>
        </a>

        <a class="top-link internal-link news-link text-sm {{ app.request.get('_route') == 'view_news' ? 'active' }}"
           href="{{ path('view_news') }}" title="{{ 'News'|trans }}" aria-label="{{ 'News'|trans }}">
            <span class="icon icon-news"></span>
            <span class="text">{{ 'News'|trans }}</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link emergency-link text-sm" href="https://www.gouvernement.fr/risques/connaitre-les-numeros-d-urgence"
           target="_blank" title="Connaitre les numéros d'urgence" aria-label="Connaitre les numéros d'urgence">
            <span class="icon icon-phone"></span>
            <span class="text">Connaître les numéros d'urgence</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link maladie-link text-sm" href="https://maladiecoronavirus.fr/" target="_blank"
           title="Maladie Coronavirus - Informations et pré-test médical en ligne"
           aria-label="Maladie Coronavirus - Informations et pré-test médical en ligne">
            <span class="icon icon-user-md"></span>
            <span class="text">Pré-test médical en ligne</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link attestations-link text-xs" target="_blank"
           href="https://www.interieur.gouv.fr/Actualites/L-actu-du-Ministere/Attestation-de-deplacement-derogatoire-et-justificatif-de-deplacement-professionnel"
           title="Attestation de déplacement dérogatoire et justificatif de déplacement professionnel"
           aria-label="Attestation de déplacement dérogatoire et justificatif de déplacement professionnel">
            <span class="icon icon-print"></span>
            <span class="text">Attestation dérogatoire et justificatif professionnel</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link initiativesligne-link text-sm" target="_blank"
           href="https://www.limoges.fr/fr/actualites/covid-19-les-initiatives-locales" title="Initiatives locales"
           aria-label="En première ligne">
            <span class="icon icon-users"></span>
            <span class="text">Initiatives locales</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link enpremiereligne-link text-sm" href="https://enpremiereligne.fr/" title="En première ligne"
           target="_blank" aria-label="En première ligne">
            <span class="icon icon-location"></span>
            <span class="text">En première ligne</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link solidaritenumerique-link text-sm" href="https://solidarite-numerique.fr/" title="Solidarité numérique - 01 70 772 372"
           target="_blank" aria-label="Solidarité numérique">
            <span class="icon icon-users-1"></span>
            <span class="text">Solidarité numérique</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link tel-link red-link text-sm" href="https://stop-violences-femmes.gouv.fr/les-numeros-d-ecoute-d.html"
           target="_blank" title="Violences femmes info : 39 19" aria-label="Violences femmes info : 39 19">
            <span class="icon icon-venus"></span>
            <span class="text">Violences femmes info : <br/>39 19</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link tel-link red-link text-sm" href="https://stop-violences-femmes.gouv.fr/les-numeros-d-ecoute-d.html"
           target="_blank" title="Enfance en danger : 119" aria-label="Enfance en danger : 119">
            <span class="icon icon-attention"></span>
            <span class="text">Enfance en danger : <br/>119</span>
        </a>

        {# This is a CUSTOM link, remove on will #}
        <a class="top-link tel-link red-link text-sm" href="http://www.arsl.eu/pole-urgence/"
           target="_blank" title="Urgences sociales : 115" aria-label="Urgences sociales : 115">
            <span class="icon icon-attention"></span>
            <span class="text">Urgences sociales :<br/> 115</span>
        </a>
    </div>
</div>