{% extends 'base.html.twig' %}

{% block website_part_class %}admin{% endblock %}

{% block title %}{{ 'Administration'|trans }}{% endblock %}

{% block header %}
    <div class="{{ block('container_class') }} rounded-sm shadow-xl m-4 p-4 flex-initial">

        <ul class="list-none inline-block m-0">
            <li class="inline-block mx-6 my-0">
                <a class="home-link" href="{{ path('home') }}" title="{{ 'Home'|trans }}"
                   aria-label="{{ 'Home'|trans }}">
                    <span class="icon-home"></span> {{ 'Home'|trans }}
                </a>
            </li>

            <li class="inline-block mx-6 my-0">
                {{ 'Website administration'|trans }} &gt;
            </li>

            <li class="inline-block mx-6 my-0">
                <a title="{{ 'Admin'|trans }}" href="{{ path('admin_home') }}"
                   class="{{ app.request.get('_route') == 'admin_home' ? 'active' }}">
                    <span class="icon-keyboard"></span> {{ 'Admin'|trans }}
                </a>
            </li>
            <li class="inline-block mx-6 my-0">
                <a title="{{ 'Services'|trans }}" href="{{ path('service_index') }}"
                   class="{{ app.request.get('_route') starts with 'service_' ? 'active' }}">
                <span class="icon-users-1"> {{ 'Services'|trans }}
                </a>
            </li>
            <li class="inline-block mx-6 my-0">
                <a title="{{ 'Sources'|trans }}" href="{{ path('source_index') }}"
                   class="{{ app.request.get('_route') starts with 'source_' ? 'active' }}">
                    <span class="icon-link-1"></span> {{ 'Sources'|trans }}
                </a>
            </li>
            <li class="inline-block mx-6 my-0">
                <a title="{{ 'Users'|trans }}" href="{{ path('user_index') }}"
                   class="{{ app.request.get('_route') starts with 'user_' ? 'active' }}">
                    <span class="icon-users"></span> {{ 'Users'|trans }}
                </a>
            </li>
            <li class="inline-block mx-6 my-0">
                <a title="{{ 'Pages'|trans }}" href="{{ path('page_index') }}"
                   class="{{ app.request.get('_route') starts with 'page_' ? 'active' }}">
                    <span class="icon-desktop"></span> {{ 'Pages'|trans }}
                </a>
            </li>
            <li class="inline-block mx-6 my-0">
                <a title="{{ 'News'|trans }}" href="{{ path('news_index') }}"
                   class="{{ app.request.get('_route') starts with 'news_' ? 'active' }}">
                    <span class="icon-news"></span> {{ 'News'|trans }}
                </a>
            </li>
        </ul>

    </div>
{% endblock %}

{% block container_class %}bg-teal-100{% endblock %}
