<!DOCTYPE html>
<html lang="{{ globals_website_language_iso_639_1 }}" class="{% block website_part_class %}frontend{% endblock %}">

    <head>

        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}{% block website_title %} | {{ globals_website_name|escape }}{% endblock %}</title>
        {% block globalstylesheets -%}
            {{ encore_entry_link_tags('app') }}
        {%- endblock %}
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        {# Metadata below #}
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <meta name="description"
              content="{% block meta_description %}{% autoescape %}{{ globals_website_description }}{% endautoescape %}{% endblock %}">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('assets/favicon/ms-icon-144x144.png') }}">
        <link rel="canonical"
              href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">

        {% block og_meta -%}
            <meta property="og:url"
                  content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            <meta property="og:site_name" content="{{ globals_website_name|escape }}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ globals_website_name|escape }}">
            <meta property="og:description" content="{{ block('meta_description') }}">
            <meta property="og:image" content="{{ absolute_url(asset('build/assets/images/ogimage.jpg')) }}">
            <meta property="og:image:width" content="888">
            <meta property="og:image:height" content="672">
            <meta property="og:image:type" content="image/jpeg">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:creator" content="@innersonics">
            <meta name="twitter:title" content="{{ globals_website_name|escape }}">
            <meta property="twitter:description" content="{{ block('meta_description') }}">
            <meta property="twitter:image" content="{{ absolute_url(asset('build/assets/images/ogimage.jpg')) }}">
        {%- endblock %}

        {% block schema_org -%}
            <script type="application/ld+json">
            {
                "@context": "http://www.schema.org",
                "@type": "Service",
                "name": "{{ block ('website_title') }}",
                "description": "{{ globals_website_subtitle }}",
                "address": {
                    "@type": "PostalAddress",
                    "addressCountry": "France"
                }
            }




            </script>
        {%- endblock %}

    </head>

    <body>

        <div class="bg-stripes"></div>

        <div class="flex flex-1 flex-col flex-wrap overflow-hidden main-container w-full relative z-10">

            <div class="global-container {% block global_container_classes %}pt-24 lg:pt-0{% endblock %}">

                <div class="{% block header_container_class %}{% endblock %} rounded-sm shadow lg:shadow-xl xl:m-4 fixed lg:relative top-0 lg:top-auto w-full lg:w-auto z-50">
                    <header>
                        {% block header %}{% endblock %}
                    </header>
                </div>

                {% block mainsection %}
                    <div class="{% block container_class %}{% endblock %} structural-block xl:p-6 xl:m-4 flex-grow">
                        <main>
                            {% block body %}{% endblock %}
                        </main>
                    </div>
                {% endblock %}

                <div class="{% block footer_container_class %}{{ block('container_class') }}{% endblock %} structural-block xl:p-6 xl:m-4 xl:w-2/3 self-center">
                    <section class="footer-container flex-1">
                        <footer>
                            {% block footer %}
                                {% for footer_link in footer_links() %}
                                    <a title="{{ footer_link.title|escape }}" aria-label="{{ footer_link.title|e }}"
                                       class="inline-block p-2 xl:p-4 w-full xl:w-auto"
                                       href="{{ path('page_public_view', {'_locale': app.request.locale, 'slug': footer_link.slug, 'page': footer_link.id}) }}">
                                        {{ footer_link.title }}
                                    </a>
                                {% endfor %}
                            {% endblock %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_home') }}"
                                   class="admin-link inline-block p-2 xl:p-4 w-full xl:w-auto"
                                   title="{{ 'Administration'|trans }}" aria-label="{{ 'Administration'|trans }}">
                                    {{ 'Administration'|trans }}
                                </a>
                            {% endif %}
                        </footer>
                    </section>
                </div>

            </div>

        </div>

        {% block globaljavascripts -%}
            {{ encore_entry_script_tags('app') }}
        {%- endblock %}
        {% block javascripts %}{% endblock %}

    </body>

</html>
