{% extends 'base.html.twig' %}

{% block title %}{{ global_website_name }}{% endblock %}

{% block header %}
    {% include('_public_header_links.html.twig') %}
{% endblock %}

{% block container_class %}bg-white-80{% endblock %}
