{% extends 'public_layout.html.twig' %}

{% block title %}404{% endblock %}

{% block container_class %}{% endblock %}

{% block body %}
    <h1 class="main-white-top-title text-5xl lg:text-6xl">404 :(</h1>

    <div class="bg-gray-100 border-blue-200 border px-5 py-4 m-2 mb-6 shadow">
        {{ '404 - Page not found'|trans }} :(
    </div>
{% endblock %}

{% block footer_container_class %}bg-white-80{% endblock %}
