{% extends 'admin_layout.html.twig' %}

{% block title %}Source index{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4 text-center">

        <h1>Source index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Url</th>
                    <th>Facebook URL</th>
                    <th>Twitter URL</th>
                    <th>Instagram URL</th>
                    <th>Created</th>
                    <th>Update</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for source in sources %}
                    <tr>
                        <td>{{ source.id }}</td>
                        <td><strong>{{ source.name }}</strong></td>
                        <td>{{ source.typeAsString|trans }}</td>
                        <td>{{ source.url }}</td>
                        <td>{{ source.facebookUrl }}</td>
                        <td>{{ source.twitterUrl }}</td>
                        <td>{{ source.instagramUrl }}</td>
                        <td>{{ source.created ? source.created|date('Y-m-d') : '' }}</td>
                        <td>{{ source.updated ? source.updated|date('Y-m-d') : '' }}</td>
                        <td>{{ source.description|slice(0,50) }}</td>
                        <td class="actions">
                            <a href="{{ path('source_show', {'id': source.id}) }}">show</a>
                            <a href="{{ path('source_edit', {'id': source.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ 'No records found'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('source_new') }}" class="button">{{ 'Create new'|trans }}</a>
    </div>
{% endblock %}
