{% extends 'admin_layout.html.twig' %}

{% block title %}Source{% endblock %}

{% block body %}
    <div class="bg-white rounded-sm shadow-lg p-4 m-4">

        <a href="{{ path('source_index') }}" class="button" title="{{ 'back to list'|trans }}"
           aria-label="{{ 'back to list'|trans }}">{{ 'back to list'|trans }}</a>

        <h1>Source</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ source.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ source.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ source.type }}</td>
                </tr>
                <tr>
                    <th>Url</th>
                    <td>{{ source.url }}</td>
                </tr>
                <tr>
                    <th>Facebook URL</th>
                    <td>{{ source.facebook_url }}</td>
                </tr>
                <tr>
                    <th>Twitter URL</th>
                    <td>{{ source.twitter_url }}</td>
                </tr>
                <tr>
                    <th>Instagram URL</th>
                    <td>{{ source.instagram_url }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('source_edit', {'id': source.id}) }}">edit</a>

        {{ include('source/_delete_form.html.twig') }}
    </div>
{% endblock %}
